[package]
name = "nucypher-core-python"
authors = ["Bogdan Opanchuk <bogdan@opanchuk.net>"]
version = "0.4.0-alpha.0"
edition = "2018"

[lib]
crate-type = ["cdylib"]

[dependencies]
pyo3 = "0.16"
nucypher-core = { path = "../nucypher-core" }
umbral-pre = { version = "0.6", features = ["bindings-python", "serde-support"] }

[build-dependencies]
pyo3-build-config = "*"
